//about header
header.about-header-3.js-mn-header
    .container.cnt--lg
        .ah-3__wrap
            .ah-3__figure
                img.img-fluid(src="assets/img/about-img-3.jpg", alt="")
            .ah-3__caption.col-md-visible
                h1.ah-3__text-1 Hello I’m Liam Hansen. <br>Art director based in Vienna.
                p.ah-3__text-2 I love minimal &amp; creative design and creative digital solutions. But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain.
                p.ah-3__text-2 Was born and I will give you a 
                    a(href="portfolio_style_two.html") creative portfolio 
                    |complete account.
                i.ah-3__icon
//about header END