//about header
header.about-header-2.about-header-2--with-mask.js-mn-header
    .ah-2__caption
        .ah-2__icon
        .ah-2__text-1 i’m Creative Art Derictor &amp; Designer
        .ah-2__text-2 creative <span>&amp;</span> passion
    a.ah-2__scroll.js-scroll-down(href="")
        i.fa.fa-angle-down
//about header END