//contact header
header.contact-header.js-mn-header
    .ch-2__caption
        .ch-2__icon
        .ch-2__text-1 Want make something great?
        .ch-2__text-2 How can i’m help you?
    .ch-2__scroll
//contact header END