//footer
footer.mn-footer-4
    .mn-footer-4__inner
        .container.cnt--lg.cnt--ind-10
            .row.row--v-center
                .col-exs-full.col-sm-two-fifths
                    p.mnf-4__copyright © 2016 Liam Hansen. All Rights Reserved
                .col-exs-full.col-sm-one-fifth.order-1
                    .mnf-4__logo
                        a.mnf-4__link(href="")
                            img.mnf-4__img.img-fluid(
                                src="assets/img/mnf-logo.png"
                                width="134"
                                height="22"
                            )
                .col-exs-full.col-sm-two-fifths
                    p.mnf-4__power-by Made by weblionmedia in Vienna, Austria
//footer END