.fixed-breadcrumbs.fixed-breadcrumbs--offset-top.js-fixed-breadcrumbs
    nav.fb-nav
        ul.fb-list
            li.fb-list__item
                a.fb-list__link(href="") Work
            li.fb-list__item
                a.fb-list__link(href="") Project name one