//footer
footer.mn-footer-6
    .container
        .mn-footer-6__inner
            .mnf-6__logo
                a.mnf-6__link(href="")
                    img.mnf-6__img.img-fluid(
                        src="assets/img/mnf-6-logo.png"
                        width="29"
                        height="29"
                    )
            p.mnf-6__text You can reach me for an inquiry or just to say hi via <br>email at weblionmedia@gmail.com.
            ul.social-1
                li.sc1__item
                    a.sc1__link.sc1__link--tw(href="")
                        i.fa.fa-twitter
                li.sc1__item
                    a.sc1__link.sc1__link--fb(href="")
                        i.fa.fa-facebook
                li.sc1__item
                    a.sc1__link.sc1__link--bh(href="")
                        i.fa.fa-behance
                li.sc1__item
                    a.sc1__link.sc1__link--in(href="")
                        i.fa.fa-linkedin
                li.sc1__item
                    a.sc1__link.sc1__link--dr(href="")
                        i.fa.fa-dribbble
            p.mnf-6__copyright © 2016 Liam Hansen. All Rights Reserved
//footer END