//footer
footer.mn-footer-2
    .container
        .mn-footer-2__inner
            ul.social-3
                li.sc3__item
                    a.sc3__link(href="") facebook
                li.sc3__item
                    a.sc3__link(href="") twitter
                li.sc3__item
                    a.sc3__link(href="") linkedin
                li.sc3__item
                    a.sc3__link(href="") behance
                li.sc3__item
                    a.sc3__link(href="") dribble
            p.mnf-2__text I’m always interested and ready for new creative projects. If you like send message use <a href="#send-mess-popup" class="js-popups" data-popup-type="mfp-type-1">contact form</a>
            p.mnf-2__copyright © 2016 Liam Hansen. All Rights Reserved
//footer END