//footer
footer.mn-footer-10
    .container
        .mn-footer-10__inner
            p.mnf-10__text-1 You can reach me for an inquiry or just to say hi via <br>email at 
                a(href="mailto:weblionmedia@gmail.com") weblionmedia@gmail.com.
            .mnf-10__social
                ul.social-13
                    li.sc13__item
                        a.sc13__link.sc13__link--fb(href="")
                            i.fa.fa-facebook
                        .sc13__text Like
                            span weblionmedia
                    li.sc13__item
                        a.sc13__link.sc13__link--tw(href="")
                            i.fa.fa-twitter
                        .sc13__text Follow
                            span weblionmedia
                    li.sc13__item
                        a.sc13__link.sc13__link--bh(href="")
                            i.fa.fa-behance
                        .sc13__text Follow
                            span weblionmedia
                    li.sc13__item
                        a.sc13__link.sc13__link--in(href="")
                            i.fa.fa-linkedin
                        .sc13__text Follow
                            span weblionmedia
                    li.sc13__item
                        a.sc13__link.sc13__link--dr(href="")
                            i.fa.fa-dribbble
                        .sc13__text Follow
                            span weblionmedia
            p.mnf-10__copyright © 2016 Liam Hansen. All Rights Reserved
//footer END