//header
header.mn-header-4.js-mn-header
    .mnh-4__caption
        .container
            .mnh-4__text-1 I’m Liam Hansen <br>Art Director &amp; Web Designer
            .mnh-4__text-2 I love minimal &amp; creative design and creative digital solutions. <br>Based in Vienna 
            ul.social-5
                li.sc5__item
                    a.sc5__link.sc5__link--fb(href="") facebook
                li.sc5__item
                    a.sc5__link.sc5__link--tw(href="") twitter
                li.sc5__item
                    a.sc5__link.sc5__link--in(href="") linkedin
                li.sc5__item
                    a.sc5__link.sc5__link--bh(href="") behance
                li.sc5__item
                    a.sc5__link.sc5__link--dr(href="") dribble
    .mnh-4__scroll-wrap
        .container
            a.mnh-4__scroll.js-scroll-down(href="") Check my portfolio
//header END