//footer
footer.mn-footer-7
    .mn-footer-7__inner
        .mnf-7__logo
            a.mnf-7__link-1(href="")
                img.mnf-7__img.img-fluid(
                    src="assets/img/mnf-7-logo.png"
                    width="10"
                )
        .mnf-7__main
            .mnf-7__wrap
                ul.mnf-7__list-1
                    li.mnf-7__list-1-item Vienna, Austria
                    li.mnf-7__list-1-item Phone: +43 586 505 05 15
                    li.mnf-7__list-1-item Mail: weblionmedia@gmail.com
                    li.mnf-7__list-1-item Skype: weblionmedia
            .mnf-7__wrap
                ul.mnf-7__list-2
                    li.mnf-7__list-2-item
                        a.mnf-7__list-2-link(href="") Twitter
                    li.mnf-7__list-2-item
                        a.mnf-7__list-2-link(href="") Facebook
                    li.mnf-7__list-2-item
                        a.mnf-7__list-2-link(href="") Behance
                    li.mnf-7__list-2-item
                        a.mnf-7__list-2-link(href="") Google +
                ul.mnf-7__list-2
                    li.mnf-7__list-2-item
                        a.mnf-7__list-2-link(href="") LinkedIn
                    li.mnf-7__list-2-item
                        a.mnf-7__list-2-link(href="") Dribble
        .mnf-7__facebook
            a.mnf-7__link-2(href="") LIke me on facebook
        .mnf-7__contact
            p.mnf-7__text Want to work with me? <br>I’m open to new interesting projects. <br><a href="#send-mess-popup" class="js-popups" data-popup-type="mfp-type-1">Get in touch</a>
//footer END