//header
header.mn-header-9.js-mn-header
    .mnh-9__caption
        .container
            .mnh-9__icon
            .mnh-9__text-1 creative <span>&amp;</span> passion
            .mnh-9__text-2 I’m <span class="accent-text">Liam Hansen</span> a Digital Art Director &amp; Visual esigner with <span class="accent-text">several years</span> of experience. <br>I’m <span class="accent-text">based in Vienna</span> and I am available for freelance.
            .mnh-9__scroll
//header END