//header
header.mn-header-3.js-mn-header
    .mnh-3__caption
        .mnh-3__text-1 I’m Liam Hansen, art director <br>based in Vienna. I’m have 
            span.accent-text.js-typed(
                data-typed-text="first sentence, second sentence, creative vision"
            )
        .mnh-3__text-2 I love minimal &amp; creative design and creative digital solutions. 
//header END