//footer
footer.mn-footer
    .mn-footer__inner
        .container.cnt--ind-10
            .row.row--v-center
                .col-exs-full.col-sm-two-fifths
                    p.mnf__copyright © 2016 Liam Hansen. All Rights Reserved
                .col-exs-full.col-sm-one-fifth.order-1
                    .mnf__logo
                        a.mnf__link(href="")
                            img.mnf__img.img-fluid(
                                src="assets/img/mnf-logo.png"
                                width="134"
                                height="22"
                            )
                .col-exs-full.col-sm-two-fifths
                    p.mnf__power-by Made by weblionmedia in Vienna, Austria
//footer END