//header
header.mn-header-5.js-mn-header
    .mnh-5__caption
        .container
            .mnh-5__icon
            .mnh-5__text-1 I’m Liam Hansen<br> Art Director 
                span.accent-text &amp; 
                |Web Developer
            .mnh-5__text-2 i love 
                span.accent-text minimal 
                    span.accent-text-2 &amp; 
                    |creative 
                |space design
//header END