//footer
footer.mn-footer-3
    .container
        .mn-footer-3__inner
            .mnf-3__logo
                a.mnf-3__link(href="")
                    img.mnf-3__img.img-fluid(
                        src="assets/img/mnf-3-logo.png"
                        width="29"
                        height="29"
                    )

            ul.cs__list.cs__list--light
                li.cs__list-item
                    span Skype:
                    |weblionmedia
                li.cs__list-item
                    span Email:
                    a(href="") weblionmedia@gmail.com
                li.cs__list-item
                    span Phone:
                    a(href="") +43 (586) 505 05 15

            ul.social-4
                li.sc4__item
                    a.sc4__link.sc4__link--tw(href="")
                        i.fa.fa-twitter
                li.sc4__item
                    a.sc4__link.sc4__link--fb(href="")
                        i.fa.fa-facebook
                li.sc4__item
                    a.sc4__link.sc4__link--bh(href="")
                        i.fa.fa-behance
                li.sc4__item
                    a.sc4__link.sc4__link--in(href="")
                        i.fa.fa-linkedin
                li.sc4__item
                    a.sc4__link.sc4__link--dr(href="")
                        i.fa.fa-dribbble

            p.mnf-3__copyright © 2016 Liam Hansen. All Rights Reserved
//footer END