//footer
footer.mn-footer-5
    .container
        .mn-footer-5__inner
            .mnf-5__logo
                a.mnf-5__link(href="")
                    img.mnf-5__img.img-fluid(
                        src="assets/img/mnf-5-logo.png"
                        width="29"
                        height="29"
                    )
            p.mnf-5__text I’m always interested and ready for new creative projects. If you like send message use <a href="#send-mess-popup" class="js-popups" data-popup-type="mfp-type-1">contact form</a>
            p.mnf-5__copyright © 2016 Liam Hansen. All Rights Reserved
//footer END