//footer
footer.mn-footer-9
    .mn-footer-9__inner
        .mnf-9__copyright © 2016 Liam Hansen. All Rights Reserved

        .mnf-9__social
            ul.social-11
                li.sc11__item
                    a.sc11__link.sc11__link--fb(href="") facebook
                li.sc11__item
                    a.sc11__link.sc11__link--tw(href="") twitter
                li.sc11__item
                    a.sc11__link.sc11__link--in(href="") linkedin
                li.sc11__item
                    a.sc11__link.sc11__link--bh(href="") behance
                li.sc11__item
                    a.sc11__link.sc11__link--dr(href="") dribble

        .mnf-9__gotop
            a.gotop.js-go-top(href="")
                i.gotop-ic
//footer END