//header
header.mn-header-10.js-mn-header
    .mnh-10__caption
        .container.cnt--ind-15
            .row.row--h-right
                .col-two-thirds
                    h1.mnh-10__text-1 I’m Liam Hansen - german <br>interactive Art Director, Designer based in Vienna. <br>I’m have creative vision
//header END