//header
header.mn-header-11.js-mn-header
    .mnh__caption
        .mnh__icon
        .mnh__text-1 Welcome
        .mnh__text-2 I’m Liam Hansen <br>Art Director &amp; Web Developer
        .mnh__text-3 I love minimal &amp; creative design and creative digital solutions.
    a.mnh__scroll.js-scroll-down(href="") Scroll Down
//header END