//header
header.mn-header-2.js-mn-header
    .mnh-2__caption
        .mnh-2__text-1 Art Director, Designer, Developer, based in Vienna
        .mnh-2__text-2 I’m <span class="accent-text">Liam Hansen</span> a Digital Art Director &amp; Visual Designer with <span class="accent-text">several years</span> of experience. I’m based in <span class="accent-text">Vienna</span> and I am available for freelance.
        a.mnh-2__btn.js-scroll-down(href="") Explore
    .mnh-2__scroll
//header END