//header
header.mn-header-7.js-mn-header
    .mnh-7__caption
        .container
            .mnh-7__text-1 The work <em>of</em>
            .mnh-7__text-2 Art Director, Designer, <br>Photographer &amp; Cocktail Killer.
            ul.social-9
                li.sc9__item
                    a.sc9__link.sc9__link--dr(href="") Dribbble
                li.sc9__item
                    a.sc9__link.sc9__link--bh(href="") Behance
                li.sc9__item
                    a.sc9__link.sc9__link--tw(href="") Twitter
                li.sc9__item
                    a.sc9__link.sc9__link--inst(href="") Instagram
                li.sc9__item
                    a.sc9__link.sc9__link--in(href="") Linkedin
    .mnh-7__copyright © 2016 Liam Hansen
    .mnh-7__position i’m creative web developer
    a.mnh-7__scroll.js-scroll-down(href="") scroll to discover
//header END