//footer
footer.promo-footer
    .promo-footer__inner
        .container
            ul.social-15
                li.sc15__item
                    a.sc15__link.sc15__link--tw(href="")
                        i.fa.fa-twitter
                li.sc15__item
                    a.sc15__link.sc15__link--fb(href="")
                        i.fa.fa-facebook
                li.sc15__item
                    a.sc15__link.sc15__link--bh(href="")
                        i.fa.fa-behance
                li.sc15__item
                    a.sc15__link.sc15__link--in(href="")
                        i.fa.fa-linkedin
                li.sc15__item
                    a.sc15__link.sc15__link--dr(href="")
                        i.fa.fa-dribbble
//footer END