//promo header
header.promo-header
    .ph__caption
        h1.ph__text-1 Liam Hansen
        .ph__text-2 Minimal &amp; creative theme perfect for freelancers of agency’s. <br>Theme carefylly crafted with love and creative vision.
        a.btn-5.js-scroll-down(
            href=""
            data-el-height="promo-header") Explore Demos
//promo header END