//CDN
script(defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFybwgr2KfWuGm07Ws4bZoFqsPkTJn3q4")

//Vendor
script(src="assets/vendor/jquery/dist/jquery.min.js")
script(src="assets/vendor/imagesloaded/imagesloaded.pkgd.min.js")
script(src="assets/vendor/animsition/dist/js/animsition.min.js")
script(src="assets/vendor/waypoints/lib/jquery.waypoints.min.js")
script(src="assets/vendor/slick-carousel/slick/slick.min.js")
script(src="assets/vendor/magnific-popup/dist/jquery.magnific-popup.min.js")
script(src="assets/vendor/typed.js/dist/typed.min.js")
script(src="assets/vendor/sticky-kit/jquery.sticky-kit.min.js")
script(src="assets/vendor/isotope/dist/isotope.pkgd.min.js")
script(src="assets/vendor/ResponsiveMultiLevelMenu/js/jquery.dlmenu.js")

//Theme Base, Components and Settings
script(defer src="assets/js/map-init.js")
script(src="assets/js/main.js")