body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FBFAF3;
  font-family: "Open Sans", sans-serif;
  position: relative; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif; }

h1 {
  font-size: 30px;
  letter-spacing: -.025em; }

h3 {
  font-size: 24px;
  letter-spacing: -.02em; }

.bg-red {
  background: #CA4E34; }
  .bg-red * {
    color: #fff; }

.bg--white {
  background: #fff; }
  .bg--white * {
    color: #4A4A4A; }

.caps {
  text-transform: uppercase; }

.btn {
  border-radius: 50px;
  padding: 12px 32px;
  font-size: 14px;
  font-weight: 600; }

.btn--red {
  color: #fff;
  background-color: #CA4E34; }
  .btn--red:hover {
    color: #fff; }
  .btn--red:active {
    color: #fff; }

.btn--gray {
  color: #fff;
  background-color: #4A4A4A; }
  .btn--gray:hover {
    color: #fff; }
  .btn--gray:active {
    color: #fff; }

.color-red {
  color: #CA4E34; }

.color-brown {
  color: #7B7A72; }

.m-text-center {
  text-align: center; }

.shadow {
  box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.1); }

.filter-nav ul li.pill--active {
  background: #CA4E34;
  color: #fff; }

.row.no-pad {
  margin-right: 0;
  margin-left: 0; }

.row.no-pad > [class*='col-'] {
  padding-right: 0;
  padding-left: 0; }

.container {
  max-width: 960px; }

.container-fluid {
  padding: 0; }

.site-wrap {
  padding-bottom: 10px; }

.header {
  width: 100%;
  background: #fff;
  box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.1);
  position: absolute;
  z-index: 1;
  padding: 10px 0 10px; }
  .header .brand {
    margin: 0 auto; }

.brand {
  display: block;
  overflow: hidden;
  width: 170px;
  height: 40px;
  background: red;
  text-indent: -999999px;
  background: transparent url("../img/logo.svg") no-repeat center center;
  background-size: contain; }

.hero {
  height: 70vh;
  min-height: 550px;
  position: relative; }
  .hero p {
    font-size: 14px;
    line-height: 26px;
    padding-top: 8px;
    padding-bottom: 26px;
    padding-left: 20px;
    padding-right: 20px; }

.hero:before {
  content: "";
  display: block;
  position: absolute;
  top: -85px;
  width: 100%;
  background: transparent url("../img/m-hero.png") no-repeat center center;
  height: 750px; }

.hero-inner-wrap {
  padding-top: 130px; }

.filter-wrap {
  display: inline-block;
  width: 100%;
  padding-bottom: 20px; }
  .filter-wrap .caps {
    float: left;
    width: 100%;
    padding-top: 20px; }

.filter-nav {
  display: inline-block;
  text-align: center; }
  .filter-nav ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    .filter-nav ul li {
      float: left;
      padding: 0 10px;
      font-size: 12px;
      font-weight: 600;
      display: inline-block;
      padding: 10px 16px;
      border-radius: 50px; }

.card-wrap .row {
  padding: 0 8px; }

.card {
  background-color: transparent;
  border: none;
  border-radius: 0;
  padding: 8px 8px 8px 8px; }

.inner-card {
  background: #FFFFFF;
  box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden; }

.location-link {
  margin-bottom: 8px; }

.location-link, .day-or-week {
  font-size: 10px;
  letter-spacing: .25em;
  color: #707070;
  font-weight: 600;
  display: block;
  float: left;
  width: 100%; }

.card-image-wrap {
  display: block;
  height: 130px;
  background: transparent url(http://placehold.it/200x500) no-repeat center center;
  background-size: cover; }

.card-image-wrap.revunit {
  background: transparent url(../img/revunit/4.jpg) no-repeat center center; }

.card-text-wrap {
  padding: 20px;
  position: relative;
  padding-bottom: 80px; }
  .card-text-wrap h4 {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.01em;
    padding-top: 6px; }

.card-price-wrap {
  display: inline-block;
  position: absolute;
  bottom: 20px;
  width: 100%; }
  .card-price-wrap div {
    display: inline-block;
    position: relative;
    float: left;
    text-align: left; }

.currency {
  font-size: 12px;
  margin-top: 5px;
  float: left; }

.price {
  font-size: 21px;
  float: left;
  padding-left: 3px; }

.feature-wrap {
  padding-top: 30px;
  padding-bottom: 30px; }
  .feature-wrap .row {
    padding: 0 10px; }
  .feature-wrap .card {
    padding: 5px; }

.feature-inner-wrap,
.feature-text-wrap,
.how-it-works {
  padding: 20px; }

.feature-inner-wrap {
  border-radius: 5px;
  overflow: hidden; }
  .feature-inner-wrap p {
    font-size: 13px;
    line-height: 22px;
    padding-top: 5px; }

.feature-text-wrap {
  padding-bottom: 60px; }

.how-it-works {
  border-radius: 5px;
  box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.1); }

.office-content-wrap img {
  width: 100%;
  float: left; }

.hero.hero-office {
  background-size: contain; }

.hero.hero-office--revunit {
  background-image: url(../img/hero--revunit.jpg); }

.office-sidebar .bg-white {
  padding: 30px;
  padding-bottom: 45px; }

.office-sidebar h3 {
  font-size: 22px;
  padding-top: 25px;
  padding-bottom: 10px; }

.office-sidebar p, .office-sidebar ul, .office-sidebar li {
  color: #55544D; }

.office-sidebar p {
  font-size: 14px; }

.office-sidebar ul {
  padding: 0;
  margin: 0; }

.office-sidebar li {
  list-style: none;
  font-size: 14px;
  font-weight: 600; }

.office-sidebar .hours-list li {
  border-bottom: solid 1px #E8E6D9;
  padding: 5px 0; }

.office-sidebar .hours-list li:last-child {
  border-bottom: none; }

.office-sidebar .time {
  float: right; }

.office-sidebar .day {
  text-transform: uppercase; }

.office-sidebar .office-address li {
  font-weight: 200; }

.office-sidebar .office-address {
  padding-bottom: 40px; }

.office-sidebar .btn-wrap {
  text-align: center; }

.container.office-content-wrap {
  padding-bottom: 60px !important; }

.office-content-wrap img {
  margin-top: -4px; }

.caps {
  text-transform: uppercase; }

.hero.hero-office {
  height: 200px;
  min-height: 0px; }

@media (min-width: 768px) {
  h1 {
    font-size: 40px; }
  h3 {
    font-size: 40px; }
  .hero {
    background: transparent url(../img/hero.png) no-repeat top center;
    background-size: cover;
    height: 60vh; }
    .hero p {
      max-width: 500px;
      margin: 0 auto; }
  .hero:before {
    display: none; }
  .filter-nav {
    padding-bottom: 10px; }
  .filter-nav ul li {
    font-size: 15px;
    display: inline-block;
    padding: 10px 16px;
    border-radius: 50px; }
  .filter-title {
    font-size: 14px;
    padding-bottom: 10px; }
  .card-wrap .card {
    padding: 20px 15px; }
  .feature-wrap {
    padding-top: 50px;
    padding-bottom: 50px; }
    .feature-wrap h3 {
      font-size: 30px; }
  .feature-text-wrap,
  .how-it-works {
    float: left; }
  .feature-text-wrap {
    padding: 50px 30px; }
  .how-it-works {
    position: absolute;
    right: -3%;
    height: 85%;
    padding: 50px 40px; }
  .feature-inner-wrap {
    background: #CA4E34 url(../img/featured.png) no-repeat bottom left; }
  .office-content-wrap .card {
    padding: 0; }
  .office-sidebar .inner-card {
    border-radius: 0px 5px 5px 0px; }
  .office-sidebar {
    padding-top: 10px !important; }
  .office-photos {
    padding-right: 0px; }
  .office-pdp .hero {
    height: 70vh;
    margin-bottom: -10vh; } }

@media (min-width: 992px) {
  .m-text-center {
    text-align: left; }
  .header {
    background-color: transparent;
    box-shadow: none;
    position: relative;
    padding: 0; }
  .brand {
    position: absolute;
    top: 40px;
    left: 0px;
    width: 210px;
    height: 50px; }
  .hero p {
    margin: 0 0;
    padding-left: 0; }
  .hero-inner-wrap {
    padding-top: 180px;
    padding-left: 80px; }
  .main-content-wrap {
    position: relative; }
  .filter-wrap h3 {
    letter-spacing: -.04em; }
  .filter-nav {
    position: absolute;
    top: 0px;
    right: 0px; }
    .filter-nav ul {
      padding-top: 3px; }
  .filter-nav .location-link {
    position: absolute;
    left: -145px;
    top: -3px;
    text-align: left;
    font-size: 11px;
    letter-spacing: .1em; }
  .card-image-wrap {
    height: 200px; }
  .card-text-wrap {
    padding: 30px;
    padding-top: 35px;
    padding-bottom: 100px; }
  .location-link, .day-or-week {
    font-size: 12px; }
  .day-or-week {
    float: left;
    width: 50%;
    padding-left: 8px;
    font-size: 10px;
    padding-top: 8px; }
  .card-price-wrap {
    bottom: 30px; }
  .card-price-wrap div:nth-child(2) {
    padding-left: 20px; }
  .card-wrap .card {
    padding: 15px; }
  .card-text-wrap h4 {
    font-size: 22px; }
  .location-link {
    margin-bottom: 12px; }
  .feature-text-wrap {
    padding: 85px 55px; }
  .how-it-works {
    width: 40%; }
  .feature-inner-wrap {
    background-position: bottom right; }
  .feature-text-wrap {
    padding: 50px 55px 120px; } }

a {
  color: inherit; }
  a:hover {
    color: inherit;
    text-decoration: none; }
