include includes/mixins.pug

doctype html
html(lang="en")
    //- head
    include includes/head.pug

    body
        .main

            .animsition

                //- top
                include includes/top_10.pug

                .mn-content
                    section.blog.blog--type-3
                        .container.cnt--lg
                            .blog-collection-3
                                .row
                                    .col-exs-full.col-md-half
                                        .bc-3__title
                                            .section-title-5
                                                h1.title-24 Blog Posts
                                                p.st-5__text Doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore <br>veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                    .col-exs-full.col-md-half
                                        .row
                                            .col-half
                                                article.post-7
                                                    .pst7__figure
                                                        a(href="post_width_picture.html")
                                                            img.img-fluid(src="assets/img/bs3-img-1.jpg", alt="")
                                                    .pst7__content
                                                        .pst7__head
                                                            span.pst7__category Blog
                                                        .pst7__body
                                                            h2.title-27
                                                                a(href="post_width_picture.html") The Interesting Thing About The Uber Logo Design
                                                            .pst7__meta
                                                                em by 
                                                                a.pst7__author(href="") Liam Hansen 
                                                                em on 
                                                                span.pst7__date 01.29.2016
                                            .col-half.flex
                                                article.post-9
                                                    a.pst9__link(href="post_standart.html")
                                                    .pst9__content
                                                        .pst9__head
                                                            span.pst9__icon ”
                                                        .pst9__body
                                                            h2.title-27
                                                                a(href="post_standart.html") “Being the richest man in the cemetery doesn't matter to me. Going to bed”
                                                            .pst9__meta
                                                                a.pst9__author(href="") John Doe
                                .row
                                    .col-exs-full.col-md-half
                                        article.post-7
                                            .pst7__figure
                                                a(href="post_video.html")
                                                    img.img-fluid(src="assets/img/bs3-img-2.jpg", alt="")
                                            .pst7__content
                                                .pst7__head
                                                    span.pst7__category Blog
                                                .pst7__body
                                                    h2.title-27
                                                        a(href="post_video.html") Boltmoji: Usain Bolt's Emoji Keyboard
                                                    .pst7__meta
                                                        em by 
                                                        a.pst7__author(href="") Liam Hansen 
                                                        em on 
                                                        span.pst7__date 01.29.2016
                                    .col-exs-full.col-md-half
                                        .row
                                            .col-half.col-half-height.flex
                                                article.post-8
                                                    a.pst8__link(href="post_standart.html")
                                                    .pst8__content
                                                        .pst8__head
                                                            span.pst8__category Blog
                                                        .pst8__body
                                                            h2.title-28
                                                                a(href="post_standart.html") How to Stop Spam Registrations on your WordPress Membership Site
                                                            .pst8__meta
                                                                em by 
                                                                a.pst8__author(href="") Liam Hansen 
                                                                em on 
                                                                span.pst8__date 01.29.2016
                                            .col-half.col-half-height
                                                article.post-7
                                                    .pst7__figure
                                                        a(href="post_text.html")
                                                            img.img-fluid(src="assets/img/bs3-img-3.jpg", alt="")
                                                    .pst7__content
                                                        .pst7__head
                                                            span.pst7__category Blog
                                                        .pst7__body
                                                            h2.title-27
                                                                a(href="post_text.html") CloudApp 4.0: Lightning Fast Media Sharing and Screengrabs
                                                            .pst7__meta
                                                                em by 
                                                                a.pst7__author(href="") Liam Hansen 
                                                                em on 
                                                                span.pst7__date 01.29.2016
                                            .col-full.col-half-height.col-sm-visible
                                                article.post-7
                                                    .pst7__figure
                                                        a(href="post_width_picture.html")
                                                            img.img-fluid(src="assets/img/bs3-img-4.jpg", alt="")
                                                    .pst7__content
                                                        .pst7__head
                                                            span.pst7__category Blog
                                                        .pst7__body
                                                            h2.title-27
                                                                a(href="post_width_picture.html") How to Use Device Bid Adjustments, Straight from Google
                                                            .pst7__meta
                                                                em by 
                                                                a.pst7__author(href="") Liam Hansen 
                                                                em on 
                                                                span.pst7__date 01.29.2016
                                .row
                                    .col-exs-full.col-sm-half.col-md-one-quarter.flex
                                        article.post-10
                                            a.pst10__link(href="post_width_picture.html")
                                            .pst10__content
                                                .pst10__head
                                                    span.pst10__icon
                                                        i.icon-attach
                                                .pst10__body
                                                    h2.title-27
                                                        a(href="post_width_picture.html") The Best Freelancer &amp; Developer on marketplace
                                                    .pst10__meta
                                                        a.pst10__url(href="") www.themeforest.net
                                    .col-exs-full.col-sm-half.col-md-one-quarter.flex
                                        article.post-8
                                            a.pst8__link(href="post_video.html")
                                            .pst8__content
                                                .pst8__head
                                                    span.pst8__category Blog
                                                .pst8__body
                                                    h2.title-28
                                                        a(href="post_video.html") Twitter Launches New Ad Campaign Because People Still
                                                    .pst8__meta
                                                        em by 
                                                        a.pst8__author(href="") Liam Hansen 
                                                        em on 
                                                        span.pst8__date 01.29.2016
                                    .col-exs-full.col-sm-half.col-md-one-quarter
                                        article.post-7
                                            .pst7__figure
                                                a(href="post_standart.html")
                                                    img.img-fluid(src="assets/img/bs3-img-5.jpg", alt="")
                                            .pst7__content
                                                .pst7__head
                                                    span.pst7__category Blog
                                                .pst7__body
                                                    h2.title-27
                                                        a(href="post_standart.html") Remaining Yahoo to Rebrand After Sale of Assets to Verizon
                                                    .pst7__meta
                                                        em by 
                                                        a.pst7__author(href="") Liam Hansen 
                                                        em on 
                                                        span.pst7__date 01.29.2016
                                    .col-exs-full.col-sm-half.col-md-one-quarter
                                        article.post-7
                                            .pst7__figure
                                                a(href="post_text.html")
                                                    img.img-fluid(src="assets/img/bs3-img-6.jpg", alt="")
                                            .pst7__content
                                                .pst7__head
                                                    span.pst7__category Blog
                                                .pst7__body
                                                    h2.title-27
                                                        a(href="post_text.html") The Interesting Thing About The Uber Logo Design
                                                    .pst7__meta
                                                        em by 
                                                        a.pst7__author(href="") Liam Hansen 
                                                        em on 
                                                        span.pst7__date 01.29.2016

                                .bc-3__foot
                                    a.btn-4(href="") View More Posts

                //- main footer
                include includes/main-footer_2.pug

            //- popups
            include includes/popups.pug

        //- scripts
        include includes/scripts.pug